.height-100vh {
  height: 92vh;
}

.background-white {
 background-color: white;
}

.bold-font {
  font-weight: bold;
}

.headers-font-size {
  font-size: 32px;
}

.headers-color {
  color: #485252;
}

.labels-text {
  font-weight: bold;
  color: #485252;
}

.margintop-2px {
  margin-top: 2px;
}

.margintop-3px {
  margin-top: 3px;
}

.border-bottom-solid {
  border-bottom: solid;
}

.borderwidth-1 {
  border-width: 1px;
}

.border-color-grey {
  border-color: #ebebeb;
}
