.flat-image {
  width: 100vw;
  height: 60vh;
}

.header {
  background-color: white;
}

.back-buton {
  color: black;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.flat-name {
  margin-top: 15px;
}

.flat-name-text {
  font-size: 32px;
  font-weight: bold;
  color: #485252;
}

.flat-text {
  font-size: 15px;
  font-weight: bold;
  color: #485252;
}

.flat-text-info {
  font-size: 15px;
  font-weight: bold;
  color: #485252;
  margin-right: 15px;
  margin-top: 20px;
}

.description {
  margin-top: 20px;
  font-weight: lighter;
}

.pernight {
  font-weight: bold;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.pernighttail {
  font-weight: lighter;
  font-size: 15px;
  color: #485252;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.reserve-buton {
  margin-left: 50px;
  color: white;
  font-weight: bold;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
