.flat-image {
  width: 100vw;
  height: 60vh;
  display: block;
}

.header {
  background-color: white;
}

.back-buton {
  color: black;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.flat-name {
  margin-top: 15px;
}

.flat-name-text {
  font-size: 32px;
  font-weight: bold;
  color: #485252;
  margin-top: 10px;
}

.flat-text {
  font-size: 15px;
  font-weight: bold;
  color: #485252;
}

.flat-text-info {
  font-size: 15px;
  font-weight: bold;
  color: #485252;
  margin-right: 15px;
  margin-top: 10px;
}

.description {
  margin-top: 20px;
  font-weight: lighter;
}

.pernight {
  font-size: 25px;
  font-weight: bold;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.pernighttail {
  font-weight: lighter;
  font-size: 15px;
  color: #485252;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.reserve-buton {
  color: white;
  font-weight: bold;
  margin-left: 15px;
  margin-top: 15px;
  margin-right: 15px;
}

.no-left {
  font-weight: lighter;
  font-size: 15px;
  color: #485252;
  margin-top: 25px;
  margin-bottom: 5px;
  margin-left: 2px;
}

.avatar {
  width: 40px;
  border-radius: 50%;
}

.avatar-large {
  width: 56px;
  border-radius: 50%;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.space-for-bar {
  margin-bottom: 45px;
}

.amenity {
  margin-top: 10px;
}

.sections {
  border-top: solid;
  border-width: 1px;
  border-color: #ebebeb;
  padding-bottom: 10px;
}

.amenity-logo {
  font-size: 25px;
  margin-top: 15px;
  margin-right: 15px;
  color: #7fc4d6;
}

.map {
  padding: 100px;
  margin: 10px;
  margin-left: 0px;
  border-radius: 3px;
}

.review {
  margin-top: 10px;
}

.host-name {
  margin: 15px;
  font-size: 15px;
  font-weight: bold;
  color: #485252;
}

.review-buton {
  margin-top: 15px;
  margin-left: 90px;
  font-size: 10px;
  font-weight: bold;
}
