// Specific CSS for your home-page
.title-welcome{
  text-align: center;
  color: $blue;
  padding-top: 30px;
  padding-bot: 20px;
}

.welcome-text{
  margin: 0 auto;
  color:grey;
  font-family: roboto, sans-serif;
  font-style: italic;
  font-weight: lighter;
  font-size: 10px;
  width:40%;
  text-align:center;
  display: flex;
  justify: center;
}


.form-control{
  border-radius: 20px;
  text-opacity: 0.1px;
  padding:10px;
  font-style: italic;
  font-color:white;
}

.container-form {
  padding:20px;
  width:80%;
  margin: 0 auto ;
}

.city-text p{
font-style:italic;
font-size:10px;
color:$blue;
margin-left:15px;
}

.city-text h5{
  margin-left:15px;
  color: #666666;
}
