.profile-top {
  display: inline-block;
  margin-bottom: 24px;
}

.container-center {
  text-align: center;
  padding-top: 80px;
  color: #485252;
  font-weight: bold;
}

.link-green {
  font-weight: bold;
  color: $blue;
}

.spacing-long {
  margin-top: 24px;
  font-weight: bold;
}
