.card-trip {
  margin: 20px;
  background: #F4F4F4;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;

}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px 0px 16px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  background-color: white;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-trip-pricing{
  min-width: 100px;
  text-align: center;
}

.card-trip-pricing p{
  white-space: nowrap;
  font-weight:lighter;
}

.card-body{
  height:50px;
  padding:0px;
  background-color:white;
  border: 1px solid white;
}
.card-title{
  font-size: 14px;
  font-weight:lighter;
}
.carousel-control-next{
  font-size:10px;
}

.card-carousel-title{
  padding: 20px;
  padding-bottom:8px;
}

.city-name{
  font-size:10px;
}


