.footer {
  background: $white;
  display: flex;
  height: 50px;
  color: rgba(0,0,0,0.3);
  align-items: center;
  position: sticky;
  width : 100%;
  left: 0;
  bottom: 0;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding-left: 40px;
  padding-right:40px;
  margin: auto;
}
.footer-links a:hover {
  opacity: 1;
  color : $blue ;
}
