.Review-House-Rules {
  font-size: 25px;
  margin-top: 10px;
}

.booking-header {
  padding: 10px;

  margin: 5px;

}

.thingstokeepinmind {
  font-size: 15px;
  font-weight: 550;
}

.booking-things {
}

.Header-Border {
  margin: 10px;
  margin-left: 0px;
}

.background {
  background-color: $light-gray;
  height: 100vh;
}
